:root {
    --primary-color: #DFB005;
    --secondary-color: #10B3A8;
    --accent1-color: #DA8631;
    --accent2-color: #E66673;

    --heading-font: Montserrat, serif;
    --paragraph-font: Roboto, serif;
}

body {
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

a{
    text-decoration: none;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    position:relative
}

.hero>img  {
    width: 100%

}

.hero h1 {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translatex(-50%);
    background-color: #ffffff95;
    padding: 1rem;
    color: #150480;
    font-size: 2em;
}

.hero article {
    background-color: #ffffff95;
    position:absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
}

.hero article img {
    float: right;
    margin: 2rem;
    width: 10rem;
}

.hero article p {
    color: #150480;
    font-size: 1.25rem;
    padding: 1rem;
    font-weight: 500;
}

footer {
    background-color: #3e3e3e;
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 2rem
}

.social {
    grid-column: 3;
    justify-self: end;
}

.social img {
    width: 3em;
}

/* header items styling */
header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    background-color:#3e3e3e;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    display: flex;
    padding: 1em;
    font-family: var(--heading-font);
    color: #fff;
}

nav a:hover {
    background-color: #fff;
    color:#DA8631;

}

.history {
    display: grid;
    grid-template-columns: 1fr 12em 1fr;
    gap: 1em;
    margin: 50px 0; 
}

.adventures {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    justify-items: center;
}

.history h2,
.adventures h2 {
    grid-column: 1/4;
    justify-self: center;
    padding: 1em 0;
}

figure:nth-of-type(odd) {
    background-color: var(--accent1-color);
    color: var(--nav-link-color);
    align-self: center;
}

figure:nth-of-type(even) {
    background-color: var(--accent2-color);
    color: var(--nav-link-color);
    align-self:center; 
}

figcaption {
    text-align: center;
    padding: 1em 0;
}

.history img {
    width: 100%;
}

.history p {
    padding: 0 1em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #3e3e3e;
    margin-top: 100px;
}

/* Footer styling */

footer p {
    color: #fff;

}

.footer-menu {
    color: #fff;
}

/* Social media link styling */
.sociallinks {
    display: flex;
    gap: 1rem;
}

.sociallinks img {
    width: 2rem;
}

.sociallinks a:hover {
    /* This removes the background color from the nav a:hover rule for the social links
    in the footer. */
    background-color: unset
}